.container_editor > div > div {
  height: 90vh;
  max-height: 90vh;
  overflow-y: scroll;
  padding: 2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px; 
  background: white; 
}

.is-active {
  background-color: #6a00f5;
  border-radius: 0.4rem;
  color: black;
  font-size: 0.85rem;
  padding: 0.25em 0.3em;
}

ul, 
ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
  
  li p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
}

  
h1,
h3 {
  line-height: 1.1;
  margin-top: 2.5rem;
  text-wrap: pretty;
}

h1 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.5rem;
}

blockquote {
  border-left: 3px solid gray;
  margin: 1.5rem 0;
  padding-left: 1rem;
}
